.burger {
    margin-left:-10px;
    position:fixed;
}

#nav {
    font-size:125%;
    right:0px;
    position:fixed;
    width:100%;
    height:100%;
    background:slategray;
    color:white;
    top:55px;
    left:0;
    right:100px;
    padding:1em 0 0 2.5em;
    left:-120%;
    transition:left 0.2s;
    overflow-y:scroll;
    border:1px solid red;
}
div#nav.hamburger-true {
    visibility:visible;
    left:0;
    transition:left 0.2s;
}
div#nav.hamburger-false {

    visibility:none;
}
#nav a {
    color:white;
}


#footer {
    font-size:12pt;
    line-height:1.25em;
    width:100px;
    bottom:0px;
    position:fixed;
    right:50px;
    background:slategray;
}
