h1 {
    font-weight:200;
    font-size:2em;
    color:slategray;
    text-align:right;
    margin:0em 0 0.25em 0;
}

#text {
    padding:0.25em 2em 0 2em;
    color:#444;
}

.negative {
    color:red;
}

div.spacer {
    height:0.75em;
}

.chart {
    height:325px;
    border:1px solid #ccc;
    padding:0px 20px 120px 0.5em;
    background:#fafafa;
}

.chart h3 {
    font-size:1.25em;
    font-weight:200;
}


