h1 {
  font-weight: 200;
  font-size: 2em;
  color: slategray;
  text-align: right;
  margin: 0em 0 0.25em 0;
}

.App--embedded h1 {
  text-align: left;
}

button {
  align-items: center;
  background: none;
  border: none;
  color: slategray;
  display: flex;
  font-size: 0.7em;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
  padding: 0;
}

#text {
  color: #444;
  min-height: calc(100vh - (2.25em + 32px));
}

.App--embedded #text {
  min-height: 0;
}

.source {
  border: 1px solid slategray;
  max-height: 250px;
  overflow-y: scroll;
}

textarea.embed {
  padding: .9375rem .5rem;
  font: inherit;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: .875rem;
  line-height: 1.5rem;
  border: 1px solid slategray;
  width: 100%;
  max-height: 250px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.up-triangle {
  border-bottom: 8px solid transparent;
  border-left: 8px solid slategray;
  border-top: 8px solid transparent;
  margin-left: 8px;
  height: 0px;
  width: 0px;
}

.down-triangle {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid slategray;
  margin-left: 8px;
  height: 0px;
  width: 0px;
}

.negative {
  color: red;
}
